.container {
  display: grid;
  padding: 5% 0;
  margin-top: 50px;
  background-color: var(--backgroundPrimary);
  grid-template-columns: 2fr 1fr;
}

.tenseContainer {
  padding: 50px;
  display: flex;
  background-color: #FFFFFF;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  flex-direction: column;
  gap: 20px;
}

.tenseInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.header {
  display: flex;
  justify-content: space-between;
}

.trainerButton {
  display: flex;
  border-radius: 5px;
  align-content: center;
  align-items: center;
  padding: 0 5%;
  gap: 5px;
  transition: 0.3s ease;
  background-color: var(--backgroundThird);
  box-shadow: 1px 1px 2px 1px silver;
  cursor: pointer;
  color: white;
}

.trainerButton:hover {
  border-color: var(--backgroundThird);
}

.tenseTrainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sentence {
  background-color: rgb(197, 240, 199);
  padding: 5%;
}

.answerContainer {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

.answerBox {
  transition: 0.3s ease-in;
  min-width: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--backgroundSecondary);
  border-radius: 10px;
  height: 50px;
}

.answerBox:hover {
  color: white;
  border-color: var(--backgroundThird);
  background-color: var(--backgroundThird);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav {
  background-color: #eef4fade;
  border-left: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 50px;
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
}

.themes {
  position: sticky;
  top: 70px;
  background-color: white;
  padding: 10% 15%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px silver;
}

.themes a {
  text-decoration: none;
  color: black;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.nav ul li {
  border-radius: 5px;
  padding: 10px 35px;
  transition: 0.3s ease;
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
  cursor: pointer;
}

.nav ul li:hover {
  color: white;
  border-color: var(--backgroundThird);
  background-color: var(--backgroundThird);
  transform: scale(0.98);
}