.container {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 10% 0;
  text-align: center;
}

.featuresContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  align-items: center;
}

.feature {
  display: grid;
  gap: 20px;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(236, 236, 236);
  transition: 0.2s;
}

.featureHeader {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}

.svgContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.featureHeader i {
  font-size: 3rem;
  color: var(--textSecondary);
}

.feature:hover {
  color: white;
  background-color: var(--backgroundThird);
}

.feature:hover i {
  color: white;
}

