.container {
  display: grid;
  gap: 20px;
  padding: 5%;
  margin-top: 50px;
  background-color: var(--backgroundPrimary);
}

.formsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.taskContainer {
  display: grid;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgb(236 236 236);
}

.taskContainer select {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: #eee;
  border: none;
}

.themeContainer {
  display: grid;
  grid-template-rows: min-content max-content min-content;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgb(236 236 236);
}
