<div style="display:grid;gap:20px;">
  <div style="display:grid;gap:20px;">
    <div>
      <h2>Употребление Future Simple</h2>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <h3 id="obshchee-budushchee">
          Общее будущее </h3>
        <div>
          <p><strong>Future Simple</strong> используется для описания единичных, повторяющихся или последовательных
            действий в будущем.</p>

          <ul>
            <li><em><span>He will come here tomorrow.</span> – Он придет сюда завтра.</em></li>
            <li><em><span>I will run every morning next summer.</span> – Следующим летом я буду бегать
                каждое утро.</em></li>
            <li><em><span>They will go to the cinema,&nbsp;buy some snacks, and watch good movie next
                  Monday.</span> – Они пойдут в кино, купят что-то перекусить&nbsp;и будут смотреть хороший фильм в
                следующий понедельник.</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <h3 id="predpolozheniia-o-budushchem">
          Предположения о будущем </h3>
        <div>
          <p><strong>Future Simple</strong> используется для описания предположений о будущих действиях. В этом случае
            <strong>Future Simple</strong> часто используется вместе с глаголами и выражениями в <a
              href="present-simple">Present Simple</a>: <strong>think</strong> (думать), <strong>believe</strong>
            (верить), <strong>expect</strong> (ожидать), <strong>be afraid</strong> (бояться), <strong>be sure</strong>
            (быть уверенным) или наречиями: <strong>probably</strong> (вероятно), <strong>perhaps</strong> (возможно),
            <strong>certainly</strong> (безусловно).</p>

          <ul>
            <li><em><span>I <span style="color:#EB4E36;">think </span>he will win this
                  competition.</span> – Я думаю, он выиграет это состязание.</em></li>
            <li><em><span>I’m <span style="color:#EB4E36;">afraid </span>she won’t come here on
                  time.</span> – Боюсь, он не придёт вовремя.</em></li>
            <li><em><span><span style="color:#EB4E36;">Probably </span>they will find the way
                  out.</span> – Возможно, они найдут выход.</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <h3 id="obeshchaniia-opaseniia-nadezhdy">
          Обещания, опасения, надежды </h3>
        <div>
          <p><strong>Future Simple</strong> используется для выражения обещаний, описаний и надежд связанных с будущем.
            Часто в предложении это время используется&nbsp;со словами: <strong>promise </strong>(обещать),
            <strong>swear
            </strong>(клясться), <strong>guarantee </strong>(гарантировать), <strong>hope </strong>(надеяться),
            <strong>threat&nbsp;</strong>(угрожать), <strong>warn&nbsp;</strong>(предупреждать),
            <strong>request&nbsp;</strong>(просить, запрашивать), <strong>offer&nbsp;</strong>(предлагать).</p>

          <ul>
            <li><em><span>I <span style="color:#EB4E36;">promise </span>we will go to the seaside next
                  year.</span> – Я обещаю, мы поедем на море в следующем году.</em></li>
            <li><em><span>We <span style="color:#EB4E36;">hope </span>he will enter the
                  university.</span> – Мы надеемся, что он поступит в университет.</em></li>
            <li><em><span>She <span style="color:#EB4E36;">swears </span>she will come home in
                  time.</span> – Она клянется, что будет дома вовремя.</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <h3 id="prognozy-na-budushchee">
          Прогнозы на будущее </h3>
        <div>
          <p><strong>Future Simple</strong> используется для описания вещей, которые непременно случатся в будущем, и на
            которые мы не можем повлиять.</p>

          <ul>
            <li><em><span>The great storm will be tomorrow.</span> – Завтра будет сильный шторм.</em>
            </li>
            <li><em><span>Anyway she will fly away.</span> – В любом случае она улетит.</em></li>
            <li><em><span>The dawn will come soon.</span> – Скоро наступит рассвет.</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <h3 id="spontannye-resheniia">
          Спонтанные решения </h3>
        <div>
          <p><strong>Future Simple</strong> используется для описания мгновенно принятых, спонтанных решений, действий,
            которые не были запланированы и пришли на ум только что.</p>

          <ul>
            <li><em><span>I will take this dress.</span> – Я возьму это платье. (не запланированная
                покупка в магазине)</em></li>
            <li><em><span>We will go there right now!</span> – Мы пойдем туда прямо сейчас!
                (эмоционально решение)</em></li>
            <li><em><span>I will paint this table.</span> – Я покрашу этот стол. (решение принято
                спонтанно, глядя на стол)</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <h2 id="markery-vremeni">Маркеры времени</h2>
    </div>
    <div>
      <article style="display:grid;gap:20px;">
        <div>
          <p><strong>Future Simple</strong> используется, если на вопрос «<strong>когда это будет?</strong>» можно
            указать
            приблизительное, неточное время. Если известно точное, конкретное время или временной промежуток, когда
            будет
            совершаться действие, то это Present Continuous или&nbsp;Future Continuous.</p>

          <ul>
            <li><em><span>tomorrow</span> – завтра</em></li>
            <li><em><span>the day after tomorrow</span> – послезавтра</em></li>
            <li><em><span>tonight</span> – вечером</em></li>
          </ul>

          <ul>
            <li><em><span>soon</span> – скоро</em></li>
            <li><em><span>as soon as</span> – как только</em></li>
            <li><em><span>later</span> – позже</em></li>
          </ul>

          <ul>
            <li><em><span>next week</span> – на следующей неделе</em></li>
            <li><em><span>next month</span> – в следующем месяце</em></li>
            <li><em><span>next year</span> – в следующем году</em></li>
            <li><em><span>next century</span> – в следующем столетии</em></li>
          </ul>

          <ul>
            <li><em><span>in a week</span> – через неделю</em></li>
            <li><em><span>in a month</span> – через месяц</em></li>
            <li><em><span>in three year</span> – через три года</em></li>
            <li><em><span>in two days</span> – через два дня</em></li>
            <li><em><span>in one of these days</span> – в один из этих дней</em></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div>
    <article style="display:grid;gap:20px;">
      <h3 id="utverzhdenie">
        Утверждение </h3>
      <div>
        <p><strong>Future Simple</strong>&nbsp;(<strong>Future Indefinite</strong>) образуется c помощью
          вспомогательного глагола<strong>will </strong>или <strong>shall
          </strong>и простого <a href="infinitive">инфинитива</a> без частицы <strong>to </strong>в активном или же
          пассивном залоге. Глагол <a href="to-be">to be</a> (<strong>am</strong>, <strong>is</strong>,
          <strong>are</strong>) в будущем времени приобретает форму <strong>will be</strong> (реже <strong>shall
            be</strong>).&nbsp;</p>

        <p><strong>Will</strong>&nbsp;в современном английском используется со всеми числами и лицами.<br>
          <strong>Shall</strong>&nbsp;используется только с первым лицом <strong>I</strong>,
          <strong>We&nbsp;</strong>(устаревшее употребление).</p>

        <p>В современном английском со всеми числами и лицами используется только <strong>will </strong>и это не
          является ошибкой. Но <strong>shall </strong>еще можно встретить в газетах, старых текстах или текстах при
          собеседовании на работу,&nbsp;при поступлении в учебное учреждение, в художественной литературе.</p>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">shall </span>go for a walk tomorrow.</span> –
              Завтра я пойду на прогулку.</em></li>
          <li><em><span>My husband <span style="color:#EB4E36;">will </span>buy this ring for
                me.</span> – Мой муж купит мне это кольцо.</em></li>
          <li><em><span>We <span style="color:#EB4E36;">will </span>find your key tomorrow.</span> –
              Мы найдем твои ключи завтра.</em></li>
          <li><i><span>The project <span style="color:#EB4E36;">will</span> be presented next
                week.</span>&nbsp;</i><em>– Проект будет представлен&nbsp;на следующей неделе.</em></li>
        </ul>

        <ul>
          <li><em><span>shall</span> = ‘ll (сокращение)</em></li>
          <li><em><span>I<span style="color:#EB4E36;">’ll</span> go to the cinema next week.</span> –
              На следующей неделе я пойду в кино.</em></li>
        </ul>

        <ul>
          <li><em><span>will</span> = ‘ll</em></li>
          <li><em><span>He<span style="color:#EB4E36;">’ll</span> fly to Paris next winter.</span> –
              Он полетит в Париж следующей зимой.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div>
    <article style="display:grid;gap:20px;">
      <h3 id="otritsanie">
        Отрицание </h3>
      <div>
        <p>В отрицательном предложении в <strong>Future Simple</strong> добавляется отрицательная частица <strong>not
          </strong>после вспомогательного глагола <strong>will </strong>или <strong>shall</strong>.</p>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">will not</span> go for a walk tomorrow.</span>
              – Я не пойду завтра на прогулку.</em></li>
          <li><em><span>My husband <span style="color:#EB4E36;">will not</span> buy this ring for
                me.</span> – Мой муж не купит мне это кольцо.</em></li>
          <li><em><span>We <span style="color:#EB4E36;">will not </span>find your key tomorrow</span>.
              – Мы не найдем твой ключ завтра.</em></li>
          <li><i><span>The project&nbsp;<span style="color: rgb(235, 78, 54);">will not</span>&nbsp;be
                presented next week.</span>&nbsp;</i><em>– Проект не будет представлен&nbsp;на следующей неделе.</em>
          </li>
        </ul>

        <ul>
          <li><span><em>will not = won’t</em></span></li>
          <li><em><span>She <span style="color:#EB4E36;">won’t</span> go to the cinema.</span> – Она
              не пойдёт в кино.</em></li>
        </ul>

        <ul>
          <li><span><em>shall not = shan’t</em></span></li>
          <li><em><span dir="ltr">I <span style="color:#EB4E36;">shan’t</span> work there.</span> – Я не буду там
              работать.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div>
    <article style="display:grid;gap:20px;">
      <h3 id="vopros">
        Вопрос </h3>
      <div>
        <p>Образование общего вопроса в <strong>Future Simple</strong> происходит с помощью вынесения вспомогательного
          глагола <strong>will </strong>или <strong>shall </strong>в начало предложения перед подлежащим.</p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">Will </span>I go for a walk tomorrow?</span> – Я
              пойду завтра на прогулку?</em></li>
          <li><em><span><span style="color:#EB4E36;">Will </span>my husband buy this ring for
                me?</span> – Мой муж купит мне это кольцо?</em></li>
          <li><em><span><span style="color:#EB4E36;">Will </span>we find your key tomorrow?</span> –
              Мы найдем твой ключ завтра?</em></li>
          <li><i><span><span style="color:#EB4E36;">Will</span> the project&nbsp;be presented next
                week?</span>&nbsp;</i><em>– Будет ли проект представлен&nbsp;на следующей неделе?</em></li>
        </ul>

        <p>Специальный вопрос в <strong>Future Simple</strong>
          образуется с помощью вопросительного слова или фразы, которая ставится в самом
          начале предложения. Дальнейший порядок слов такой же, как в общем вопросе для <strong>Future Simple</strong>.
        </p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">Where will</span> I go tomorrow?</span> – Куда я
              завтра пойду?</em></li>
          <li><em><span><span style="color:#EB4E36;">What will</span> my husband buy for me?</span> –
              Что купит мне мой муж?</em></li>
          <li><em><span><span style="color:#EB4E36;">When will</span> we find your key?</span> – Когда
              мы найдем твой ключ?</em></li>
          <li><i><span><span style="color:#EB4E36;">Why will</span> the project&nbsp;be presented next
                week.</span>&nbsp;</i><em>– Почему проект будет представлен&nbsp;на следующей неделе?</em></li>
        </ul>
      </div>
    </article>
  </div>
</div>