<div>
  <div>
    <div>
      <h2>Употребление Present Perfect</h2>
    </div>
    <div>
      <article>
        <h3>
          Завершенные действия с акцентом на результат </h3>
        <div>
          <p><strong>Present Perfect</strong> используется для передачи важности результата действия для настоящего без
            точного указания времени. Действие совершилось когда-то в прошлом и результат этого действия (или его
            отсутствие) виден в настоящем.</p>

          <ul>
            <li><em><span>I’ve done this job well.</span> – Я сделал эту работу хорошо.</em></li>
            <li><em><span>She has found this kitten outside.</span> – Она нашла этого котенка на
                улице.</em></li>
            <li><em><span>We haven’t bought new chairs yet. Our kitchen is empty.</span> – Мы ещё не
                купили новые стулья. Наша кухня пуста.</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <article>
        <h3 id="nezavershennye-deistviia">
          Незавершенные действия </h3>
        <div>
          <p><strong>Present Perfect</strong> используется для описания действия, которое началось когда-то в прошлом,
            неважно,&nbsp;когда, но еще не закончилось, и в настоящем виден результат этого действия.</p>

          <ul>
            <li><em><span>They have played in the orchestra since high school.</span> – Они
                играли&nbsp;в оркестре со старшей школы. (Они всё ещё это делают.)</em></li>
            <li><em><span>I’ve had my cat Charlie for 15 years.</span> – Пятнадцать&nbsp;лет живет у
                меня мой кот Чарли. (Я приобрела его пятнадцать&nbsp;лет назад и Чарли всё ещё жив.)</em></li>
            <li><em><span>He has written twenty pages of a new book this morning.</span> – Он написал
                двадцать страниц новой книги этим утром. (Всё ещё утро, он может написать больше страниц.)</em></li>
          </ul>
        </div>
      </article>
    </div>
    <div>
      <h2 class="caption-title" id="markery-vremeni" about="" typeof="">

        Маркеры времени</h2>
    </div>
    <div>
      <article>
        <div>
          <p><strong>Present Perfect</strong> может использоваться только с неточными выражениями времени и словами,
            обозначающими еще не истекшие периоды времени.</p>

          <ul>
            <li><em><span>ever</span> – когда либо</em></li>
            <li><em><span>never</span> – никогда</em></li>
            <li><em><span>already </span>– уже</em></li>
            <li><em><span>yet</span> – еще, уже</em></li>
            <li><em><span>not yet</span> – еще нет</em></li>
            <li><em><span>often</span> – часто</em></li>
            <li><em><span>so far</span> – пока, до сих пор</em></li>
            <li><em><span>lately</span> – последнее время</em></li>
            <li><em><span>just</span> – только что</em></li>
            <li><em><span>recently</span> – недавно, на днях</em></li>
          </ul>

          <ul>
            <li><em><span>once</span> – однажды</em></li>
            <li><em><span>many times</span> – много раз</em></li>
            <li><em><span>several times</span> – несколько раз</em></li>
            <li><em><span>before</span> – раньше, прежде</em></li>
            <li><em><span>today</span> – сегодня</em></li>
          </ul>

          <ul>
            <li><em><span>this week</span> – на этой неделе</em></li>
            <li><em><span>this month</span> – в этом месяце</em></li>
            <li><em><span>this year</span> – в этом году</em></li>
            <li><em><span>this afternoon</span> – сегодня днем</em></li>
          </ul>

          <ul>
            <li><em><span>for an hour</span> – в течение часа</em></li>
            <li><em><span>for two weeks</span> – на протяжении двух недель</em></li>
            <li><em><span>for a long time</span> – долгое время</em></li>
          </ul>

          <ul>
            <li><em><span>since twelve o’clock</span> – с двенадцати часов</em></li>
            <li><em><span>since 12 April</span> – с 12 апреля</em></li>
            <li><em><span>since May</span> – c мая</em></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div>
    <article>
      <h3 id="utverzhdenie">
        Утверждение </h3>
      <div>
        <p>Утвердительное предложение в <strong>Present Perfect</strong> образуется с помощью вспомогательного глагола</a> <strong>have </strong>или <strong>has
          </strong>и формы Past Participle (третьей формы
          смыслового глагола).</p>

        <p><strong>Past Participle </strong>для правильных глаголов образуется добавлением к их первой форме&nbsp; окончания -ed. Для неправильных глаголов берется его третья форма из таблицы неправильных глаголов.</p>

        <p>В зависимости от лица и числа, в котором стоит подлежащее,&nbsp;используется&nbsp;та&nbsp;или
          иная&nbsp;форма&nbsp;вспомогательного глагола</p>

        <p>I, We, You, They → <strong>have</strong> (для 1-го, 2-го лица и форм множественного&nbsp;числа)<br>
          He, She, It → <strong>has</strong> (для 3-го лица единственного числа)</p>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">have dug</span> a hole for planting
                trees.</span> – Я выкопал яму для посадки деревьев.</em></li>
          <li><em><span>He <span style="color:#EB4E36;">has </span>just <span style="color:#EB4E36;">finished </span>his
                first book.</span> – Он только что закончил свою первую
              книгу.</em></li>
          <li><em><span>We <span style="color:#EB4E36;">have bought</span> all the furniture.</span> –
              Мы купили всю мебель.</em></li>
        </ul>

        <p>В <strong>Present Perfect</strong> используются следующие сокращения:</p>

        <table border="0" cellpadding="0" cellspacing="0" class="responsive-tables" style="width:100%;">
          <tbody>
            <tr>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><span><em>I have = I<span style="color:#EB4E36;">’ve</span></em></span></li>
                  <li><span><em>You have = You<span style="color:#EB4E36;">’ve</span></em></span></li>
                  <li><span><em>We have = We<span style="color:#EB4E36;">’ve</span></em></span></li>
                  <li><span><em>They have = They<span style="color:#EB4E36;">’ve</span></em></span>
                  </li>
                </ul>
              </td>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><span><em>He has = He<span style="color:#EB4E36;">’s</span></em></span></li>
                  <li><span><em>She has = She<span style="color:#EB4E36;">’s</span></em></span></li>
                  <li><span><em>It has = It<span style="color:#EB4E36;">’s</span></em></span></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Правила добавления&nbsp;окончания -ed рассмотрены ниже</p>

        <table border="0" cellpadding="0" cellspacing="0" class="responsive-tables" style="width:100%;">
          <tbody>
            <tr>
              <td style="width: 33%; vertical-align: top;">
                <ul dir="ltr">
                  <li><span><em>to work → work<span style="color:#EB4E36;">ed </span></em></span></li>
                  <li><span><em>to translat<span style="color:#EB4E36;">e</span> → translat<span
                          style="color:#EB4E36;">ed</span></em></span></li>
                  <li><span><em>to agr<span style="color:#EB4E36;">ee</span> → agree<span
                          style="color:#EB4E36;">d</span></em></span></li>
                </ul>
              </td>
              <td style="width: 33%; vertical-align: top;">
                <ul dir="ltr">
                  <li><span><em>to stud<span style="color:#EB4E36;">y</span> → stud<span
                          style="color:#EB4E36;">i</span>ed</em></span></li>
                  <li><span><em>to pla<span style="color:#EB4E36;">y</span> → pla<span
                          style="color:#EB4E36;">y</span>ed</em></span></li>
                </ul>
              </td>
              <td style="vertical-align: top;">
                <ul dir="ltr">
                  <li><span><em>to sto<span style="color:#EB4E36;">p</span> → sto<span
                          style="color:#EB4E36;">pp</span>ed</em></span></li>
                  <li><span><em>to rela<span style="color:#EB4E36;">x</span> → rela<span
                          style="color:#EB4E36;">x</span>ed</em></span></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
  <div>
    <article>
      <h3>
        Отрицание </h3>
      <div>
        <p>В отрицательном предложении в <strong>Present Perfect</strong> после вспомогательного
          глагола&nbsp;<strong>have </strong>или <strong>has </strong>добавляется отрицательная частица
          <strong>not</strong>.</p>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">have not</span> dug a hole.</span> – Я не
              выкопал яму.</em></li>
          <li><em><span>He <span style="color:#EB4E36;">has not</span> finished his first book.</span>
              – Он не закончил свою первую книгу.</em></li>
        </ul>

        <ul>
          <li><em><span>have not = haven’t</span> (сокращение)</em></li>
          <li><em><span>We <span style="color:#EB4E36;">haven’t </span>bought all the
                furniture.</span> – Мы не купили всю мебель.</em></li>
        </ul>

        <ul>
          <li><span><em>has not = hasn’t</em></span></li>
          <li><em><span>Kate <span style="color:#EB4E36;">hasn’t </span>been to Paris yet.</span> –
              Кейт еще не была в Париже.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div>
    <article>
      <h3>
        Вопрос </h3>
      <div>
        <p>Общий вопрос в <strong>Present Perfect</strong> образуется вынесением вспомогательного глагола <strong>have
          </strong>или <strong>has </strong>в начало предложения перед подлежащим.</p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">Have </span>I <span style="color:#EB4E36;">dug
                </span>a hole?</span> – Я выкопал яму?</em></li>
          <li><em><span><span style="color:#EB4E36;">Have </span>we <span style="color:#EB4E36;">bought </span>all the
                furniture?</span> – Мы купили всю мебель?</em></li>
          <li><em><span><span style="color:#EB4E36;">Has </span>he just <span style="color:#EB4E36;">finished </span>his
                first book?</span> – Он только что закончил свою первую
              книгу?</em></li>
        </ul>

        <p>Специальный вопрос в Present Perfect</strong> образуется с помощью вопросительного слова или фразы, которая
          ставится в самом начале предложения. Дальнейший порядок слов такой же, как в обычном вопросе для
          <strong>Present Perfect</strong>.</p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">What has</span> he just finished?</span>
            </em>–<em> Что он только что закончил?</em></li>
          <li><em><span><span style="color:#EB4E36;">Where have</span> we bought all the
                furniture?</span> – Где мы купили всю мебель?</em></li>
          <li><em><span><span style="color:#EB4E36;">How deep have</span> you dug a hole?</span> –
              Насколько глубокую яму ты выкопал?</em></li>
        </ul>
      </div>
    </article>
  </div>
</div>