<div class="field-items">
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="utverzhdenie">
        Утверждение </h3>
      <div class="paragraph-content ll-text">
        <p>Утвердительное предложение в <strong>Present Continuous</strong>&nbsp;(<strong>Present Progressive</strong>)
          образуется с помощью вспомогательного глагола <a href="to-be">to be</a> в формах <strong>am</strong>,
          <strong>is </strong>или <strong>are </strong>и формы <a
            href="participle#prichastie-nastoiashchego-vremeni">Present Participle</a> (первой формы смыслового глагола
          с окончанием -<strong>ing</strong>).</p>

        <p>Выбор вспомогательного глагола зависит от подлежащего.</p>

        <ul>
          <li><em><span>I → <span style="color:#EB4E36;">am</span></span> (о себе)</em></li>
          <li><em><span>He, she, it → <span style="color:#EB4E36;">is</span></span> (единственное число)</em></li>
          <li><em><span>You, we, they → <span style="color:#EB4E36;">are</span></span> (множественное число и 2-е лицо
              единственного числа)</em></li>
        </ul>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">am speaking</span> over the telephone.</span> – Я разговариваю по
              телефону.</em></li>
          <li><em><span>She <span style="color:#EB4E36;">is watching</span> TV now.</span> – Она сейчас смотрит
              телевизор.</em></li>
          <li><em><span>They <span style="color:#EB4E36;">are walking</span> down the street.</span> – Они спускаются по
              улице.</em></li>
          <li><em><span>She<span style="color:#EB4E36;">’s working</span> now.</span> – Она сейчас работает.</em></li>
          <li><em><span>We<span style="color:#EB4E36;">’re cleaning</span> the house.</span> – Мы убираем в доме.</em>
          </li>
        </ul>

        <p>Сокращение с глаголом <strong>to be</strong></p>

        <table border="0" cellpadding="0" cellspacing="0" class="responsive-tables" style="width:100%;">
          <tbody>
            <tr>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><em><span>I am = I<span style="color:#EB4E36;">’m</span></span></em></li>
                  <li><em><span>He is = He<span style="color:#EB4E36;">’s</span></span></em></li>
                  <li><em><span>She is = She<span style="color:#EB4E36;">’s</span></span></em></li>
                  <li><em><span>It is = It<span style="color:#EB4E36;">’s</span></span></em></li>
                </ul>
              </td>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><em><span>You are= You<span style="color:#EB4E36;">’re</span></span></em></li>
                  <li><em><span>We are = We<span style="color:#EB4E36;">’re</span></span></em></li>
                  <li><em><span>They are = They<span style="color:#EB4E36;">’re</span></span></em></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Все правила <a href="ing">добавления окончания -ing</a> рассмотрены в другой статье.</p>

        <table border="0" cellpadding="0" cellspacing="0" class="responsive-tables" style="width:100%;">
          <tbody>
            <tr>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><em><span>to enter → enter<span style="color:#EB4E36;">ing</span></span></em></li>
                  <li><em><span>to l<span style="color:#EB4E36;">ie</span> → l<span
                          style="color:#EB4E36;">y</span>ing</span></em></li>
                  <li><em><span>to tak<span style="color:#EB4E36;">e</span> → tak<span
                          style="color:#EB4E36;">i</span>ng</span></em></li>
                  <li><em><span>to agr<span style="color:#EB4E36;">ee</span> → agr<span
                          style="color:#EB4E36;">ee</span>ing</span></em></li>
                </ul>
              </td>
              <td style="width: 50%; vertical-align: top;">
                <ul>
                  <li><em><span>to sa<span style="color:#EB4E36;">y</span> → sa<span
                          style="color:#EB4E36;">y</span>ing</span></em></li>
                  <li><em><span>to rela<span style="color:#EB4E36;">x</span> → rela<span
                          style="color:#EB4E36;">x</span>ing</span></em></li>
                  <li><em><span>to ru<span style="color:#EB4E36;">n</span> → ru<span
                          style="color:#EB4E36;">nn</span>ing</span></em></li>
                  <li><em><span>to trave<span style="color:#EB4E36;">l</span> → trave<span
                          style="color:#EB4E36;">ll</span>ing / trave<span
                          style="color:#EB4E36;">l</span>ing</span></em></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
  <div class="field-item odd">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="otritsanie">
        Отрицание </h3>
      <div class="paragraph-content ll-text">
        <p>Отрицание в <strong>Present Continuous</strong> образуется с помощью отрицательной частицы
          <strong>not</strong>, которая ставится после вспомогательного глагола <strong>am</strong>, <strong>is
          </strong>или <strong>are</strong>.</p>

        <ul>
          <li><em><span>I <span style="color:#EB4E36;">am not </span>playing the guitar now.</span> – Я сейчас не играю
              на гитаре.</em></li>
          <li><em><span>She <span style="color:#EB4E36;">is not </span>watching&nbsp;TV now.</span> – Она сейчас не
              смотрит телевизор.</em></li>
        </ul>

        <ul>
          <li><span><em>is not = isn’t</em></span></li>
          <li><em><span>Kate <span style="color:#EB4E36;">isn’t</span> studying at the moment.</span> – Кейт не учится в
              данный момент.</em></li>
        </ul>

        <ul>
          <li><span><em>are not = aren’t</em></span></li>
          <li><em><span>They <span style="color:#EB4E36;">aren’t</span> talking about it.</span> – Они не разговаривают
              об этом.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="vopros">
        Вопрос </h3>
      <div class="paragraph-content ll-text">
        <p>Общий вопрос в <strong>Present Continuous</strong> образуется вынесением вспомогательного глагола
          <strong>am</strong>, <strong>is</strong> или <strong>are </strong>в начало предложения перед подлежащим.</p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">Am </span>I speaking over the telephone?</span> – Я разговариваю по
              телефону?</em></li>
          <li><em><span><span style="color:#EB4E36;">Is</span> she watching TV now?</span> – Она смотрит сейчас
              телевизор?</em></li>
          <li><em><span><span style="color:#EB4E36;">Are </span>they walking down the street?</span> –
              Они&nbsp;спускаются по улице?</em></li>
        </ul>

        <p><a href="types-of-questions#spetsialnye-voprosy">Специальный вопрос</a> в <strong>Present Continuous</strong>
          образуется с помощью <a href="question-words">вопросительного слова</a> или фразы, которая ставится в самом
          начале предложения. Дальнейший порядок слов такой же, &nbsp;как в общем вопросе для <strong>Present
            Continuous</strong>.</p>

        <ul>
          <li><em><span><span style="color:#EB4E36;">What am</span> I doing now?</span> – Что я сейчас делаю?</em></li>
          <li><em><span><span style="color:#EB4E36;">What is </span>she watching now?</span> – Что она сейчас
              смотрит?</em></li>
          <li><em><span><span style="color:#EB4E36;">Where are </span>they walking?</span> – Где они гуляют?</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item odd">
    <h2 class="caption-title" id="upotreblenie-present-continuous" about="" typeof="">

      Употребление Present Continuous</h2>
  </div>
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="deistviia-proiskhodiashchie-zdes-i-seichas">
        Действия, происходящие здесь и сейчас </h3>
      <div class="paragraph-content ll-text">
        <p><strong>Present Continuous</strong> используется для описания действия, которое происходит прямо сейчас, в
          момент рассказа о нём. Также <strong>Present Continuous </strong>выражает одновременные действия.</p>

        <ul>
          <li><em><span>He’s playing the piano <span style="color:#EB4E36;">now</span>.</span> – Он сейчас играет на
              пианино.</em></li>
          <li><em><span>I’m washing my clothes <span style="color:#EB4E36;">at the moment</span>.</span> – Я стираю свою
              одежду в данный момент.</em></li>
          <li><em><span>They’re repairing the car right<span style="color:#EB4E36;"> now</span>.</span> – Они
              ремонтируют машину прямо сейчас.</em></li>
          <li><em><span>I’m working and Ann is cooking <span style="color:#EB4E36;">now</span>.</span> – Я работаю
              сейчас, а Энн занимается готовкой.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item odd">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="deistviia-around-now">
        Действия around now </h3>
      <div class="paragraph-content ll-text">
        <p><strong>Present Continuous</strong> используется для описания непостоянного, временного действия, т.е. такого
          действия, которое происходит не прямо сейчас, но в ближайшем временном промежутке – «<strong>around
            now</strong>» (примерно в это время).</p>

        <ul>
          <li><em><span>She’s preparing for her next week exam.</span> – Она готовится к экзамену, который будет на
              следующей неделе. (Она,&nbsp;возможно, не готовится к нему прямо сейчас, но будет готовится всё ближайшее
              к экзамену время)</em></li>
          <li><em><span>My brother is looking for a job these days.</span> – Мой брат сейчас ищет работу. (Не факт, что
              он ищет её прямо сейчас, но на днях – в ближайшем настоящем)</em></li>
          <li><em><span>I’m waiting for the parcel coming soon.</span> – Я жду посылку, которая скоро придет. (Я жду её
              в принципе, не прямо сейчас)</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="plany-na-blizhaishee-budushchee">
        Планы на ближайшее будущее </h3>
      <div class="paragraph-content ll-text">
        <p>С помощью<strong> Present Continuous</strong> описываются действия, которые запланированы на ближайшее
          будущее, особенно, если время и место проведения действия заранее оговорены.</p>

        <ul>
          <li><em><span>They’re moving to Kyiv next Monday.</span> – Они переезжают в Киев в следующий понедельник.</em>
          </li>
          <li><em><span>I’m going to the seaside this evening.</span> – Я еду на море этим вечером.</em></li>
          <li><em><span>Kate and I are playing our new concert tonight.</span> – Сегодня вечером мы с Кейт играем наш
              новый концерт.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item odd">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="meniaiushchiesia-obstoiatelstva">
        Меняющиеся обстоятельства </h3>
      <div class="paragraph-content ll-text">
        <p><strong>Present Continuous</strong> используется для описания ситуаций, которые развиваются или меняются.</p>

        <ul>
          <li><em><span>More men are taking paternity leave nowadays.</span> – В наши дни всё больше мужчин берут
              декретный отпуск.</em></li>
          <li><em><span>This tree is growing so fast.</span> – Это дерево растет так быстро.</em></li>
          <li><em><span>The weather is changing so unexpectedly these days.</span> – Последнее время погода меняется так
              неожиданно.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <h3 class="paragraph-title" id="negativnyi-okras-deistvii">
        Негативный окрас действий </h3>
      <div class="paragraph-content ll-text">
        <p>Мы можем использовать <strong>Present Continuous</strong> для описания вещей, которые происходят
          постоянно,&nbsp;или характера человека, если это вызывает <strong>гнев </strong>(anger), <strong>раздражение
          </strong>(irritation) или <strong>надоедливость </strong>(annoyance). Часто используется со словами:
          <strong>always </strong>(всегда), <strong>constantly </strong>(постоянно), <strong>continually
          </strong>(непрерывно).</p>

        <ul>
          <li><em><span>You’re <span style="color:#EB4E36;">always </span>interrupting me when I’m trying to tell this
                story.</span> – Ты постоянно меня перебиваешь, когда я пытаюсь рассказать эту историю.</em></li>
          <li><em><span>He’s <span style="color:#EB4E36;">constantly </span>losing our keys on the vacation.</span> – На
              отдыхе он постоянно теряет наши ключи.</em></li>
          <li><em><span>I’m <span style="color:#EB4E36;">always </span>getting ill after this ice-cream.</span> – Я
              постоянно болею после этого мороженого.</em></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="field-item odd">
    <h2 class="caption-title" id="markery-vremeni" about="" typeof="">

      Маркеры времени </h2>
  </div>
  <div class="field-item even">
    <article class="paragraph" about="" typeof="">
      <div class="paragraph-content ll-text">
        <p><strong>Present Continuous</strong> используется с определенными словами и фразами, которые указывают на
          определенный, известный момент времени, в который происходит действие.</p>

        <ul>
          <li><em><span>now</span> – сейчас</em></li>
          <li><em><span>right now</span> – прямо сейчас</em></li>
          <li><em><span>still</span> – всё ещё</em></li>
          <li><em><span>currently</span> – теперь</em></li>
        </ul>

        <ul>
          <li><em><span>at the moment</span> – в этот момент</em></li>
          <li><em><span>at present</span> – в настоящее время</em></li>
        </ul>

        <ul>
          <li><em><span>this morning</span> – этим утром</em></li>
          <li><em><span>this evening</span> – этим вечером</em></li>
          <li><em><span>this afternoon</span> – сегодня после обеда</em></li>
        </ul>

        <ul>
          <li><em><span>today</span> – сегодня (днём)</em></li>
          <li><em><span>tonight</span> – сегодня (вечером)</em></li>
          <li><em><span>these days</span> – на днях</em></li>
          <li><em><span>nowadays</span> – в наши дни</em></li>
        </ul>
      </div>
    </article>
  </div>
</div>