.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: #eee;
  border: none;
}

.right {
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  text-align: center;
  background-color: #E75148;
  border-radius: 0 30px 10px 0;
}

.button {
  padding: 5% 10%;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(231 81 72 / 100%);
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.button:active {
  transform: scale(0.95);
}

.left .button {
  color: white;
  background-color: rgb(231 81 72 / 100%);
}

@media (max-width: 767px) {
  .container {
    width: 80%;
    height: 60%;
  }
}