.container {
  box-shadow: 2px 2px 2px 2px silver;
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
  padding: 2% 5%;
}

.logoContainer {
  display: grid;
  gap: 50px;
}

.logo {
  font-size: 3rem;
}

.anchorsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anchorsContainer a {
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}

.anchorsContainer a:hover {
  color: red;
}

.about {
  display: grid;
  gap: 20px;
}

.socialMeadiContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.socialMeadiContainer__href {
	text-decoration: none;
  font-size: 2rem;
  color: ;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
}

.authorContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5%;
  color: white;
  background-color: var(--backgroundThird);
}