.container span {
  display: inline-block;
  font-family: 'Spice Rice';
  text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
  transition: 0.3s ease-in;
  transform: translate(0, 30%) rotate(4deg);
  animation: jump 2s ease-in-out infinite;
}

.logo {
  font-family: 'Spice Rice';
  color: #1D1E31;
}

.char {
  font-size: 2.5rem;
  color: red;
  text-shadow: 5px 5px 5px rgb(119, 119, 119);
}

.container span:nth-child(1) {
  animation-delay: 120ms;
}

.container span:nth-child(2) {
  animation-delay: 240ms;
}

.container span:nth-child(3) {
  animation-delay: 360ms;
}

.container span:nth-child(4) {
  animation-delay: 480ms;
}

.container span:nth-child(5) {
  animation-delay: 600ms;
}

.container span:nth-child(6) {
  animation-delay: 720ms;
}

.container span:nth-child(7) {
  animation-delay: 840ms;
}

.container span:nth-child(8) {
  animation-delay: 940ms;
}

.container span:nth-child(9) {
  animation-delay: 1020ms;
}

.container span:nth-child(10) {
  animation-delay: 1100ms;
}

@keyframes jump {
  33% {
    text-shadow: 0 60px #f37121, 0 50px #f2aaaa;
  }

  50% {
    text-shadow: 0 0px #8fc0a9, 0 0px #8547CA;
    transform: translate(0, 0) rotate(-4deg);
  }

  66.67% {
    text-shadow: 0 -100px #d54062, 0 -50px #8fc0a9;
  }
}