.container {
  display: grid;
  gap: 20px;
  padding: 5%;
  margin-top: 50px;
  background-color: var(--backgroundPrimary);
}

.trainerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
  font-family: 'AbhayaLibre', sans-serif;
}

.exerciseContainer {
  position: relative;
  z-index: 1000;
  display: grid;
  gap: 20px;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px rgba(236, 236, 236, 0.623);
  transition: 0.5s ease-in-out;
}

.themeName {
  font-size: 2.5rem;
}

.text {
  font-size: 2rem;
}

.exerciseContainer input {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 10px;
}

.scaleBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: 0.2s ease-in;
  animation: 1s normal slidein;
  animation-iteration-count: 3;
}

.scaleBtn:hover {
  color: red;
}

.buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 20px;
}

.scaled {
  position: absolute;
  top: 100px;
  right: 20px;
  left: 20px;
  z-index: 10000;
  transform: scale(1.01);
}

.correctAnswer {
  background-color: #4fe772;
}

.wrongAnswer {
  background-color: #f55666;
}

@keyframes slidein {
  0% {
    font-size: 1.2rem;
    color: greenyellow;
  }

  50% {
    font-size: 2rem;
    color: blueviolet;
  }

  100% {
    font-size: 1.2rem;
    color: red;
  }
}