.container {
  position: fixed;
  z-index: 2000;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 50px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgb(223, 223, 223);
}

.logo {
  font-family: 'Spice Rice';
  font-size: 1.5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  width: 100%;
}

.navEl {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid silver;
  transition: 0.3s ease;
}

.navEl:hover {
  color: red;
}
