.container {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.container p {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Spice Rice';
  font-weight: 900;
}

.line {
  width: 30%;
  height: 1px;
  background-color: var(--backgroundThird);
}