.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.title {
  font-size: 4vw;
}

.description {
  font-style: italic;
}