@font-face {
  font-family: 'Spice Rice';
  src: local('Spice Rice'), url(./fonts/SpicyRice-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant Bold';
  src: local('Cormorant Bold'), url(./fonts/Cormorant-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant Bold Italic';
  src: local('Cormorant Bold Italic'), url(./fonts/Cormorant-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant Regular';
  src: local('Cormorant Regular'), url(./fonts/Cormorant-Regular.ttf) format('truetype');
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 100px;
  background: linear-gradient(var(--backgroundPrimary), var(--backgroundSecondary));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --backgroundPrimary: #F7FAFD;
  --backgroundSecondary: #1D1E31;
  --backgroundThird: #8547CA;

  --textPrimary: black;
  --textSecondary: #8547CA;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cormorant Regular', sans-serif;
  font-size: 1.2rem;
}

