@font-face {
  font-family: 'Spice Rice';
  src: local('Spice Rice'), url(./fonts/SpicyRice-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  src: local('AbhayaLibre'), url(./fonts/AbhayaLibre-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 100px;
  background: linear-gradient(var(--backgroundPrimary), var(--backgroundSecondary));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --backgroundPrimary: #F7FAFD;
  --backgroundSecondary: #1D1E31;
  --backgroundThird: #8547CA;

  --textPrimary: black;
  --textSecondary: #8547CA;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'AbhayaLibre', sans-serif;
  font-size: 1.1rem;
}

