.container {
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 9999;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 50px;
  opacity: 0.3;
  transition: 0.3s ease-in;
}

.container p {
  font-size: 2.5vw;
  font-weight: bold;
}

.active {
  top: 0;
  opacity: 1;
}