.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  font-family: 'Spice Rice';
}

.content {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: start;
  padding: 10%;
}

.content h1 {
  font-size: 3.5rem;
  color: var(--textSecondary);
  text-transform: uppercase;
}

.leftColumn {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundPrimary);
}

.rightColumn {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundSecondary);
}

.rightColumn img {
  width: 50%;
}

.circleButton {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.rightColumn .circleButton {
  top: 40%;
  right: 100%;
  z-index: 1000;
  background-color: var(--backgroundSecondary);
  transform: translateX(50%);
}

.leftColumn .circleButton {
  top: 60%;
  left: 100%;
  z-index: 1000;
  background-color: red;
  background-color: var(--backgroundPrimary);
  transform: translateX(-50%);
}

.circleButton i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translateX(-50%) translateY(-50%);
}

.rightColumn .circleButton i {
  color: var(--backgroundPrimary);;
}

.leftColumn .circleButton i {
  color: var(--backgroundSecondary);;
}
