.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  border-bottom: 1px solid silver;
}

.faqContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
}

.faqContainer h1 {
  font-size: 5vw;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.808);
  border-radius: 10px;
}

.r {
  font-size: 1.5em;
  color: red;
}